$gris-clarito: #E6E6E6;
$gris-fuerte: #CACACA;
$azulito: #005677;

body {
    margin: 0;
}

.header {
    background-color: $gris-clarito;
    text-align: center;
    img {
        padding: 1rem 0 0 0;
    }
    h1 {
        line-height: 3rem;
    }
}

.titulos {
    color: $azulito;
    background-color: $gris-fuerte;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

h3 {
    &.titulos {
        line-height: 1.6rem;
        padding: 0 0 0 1rem;
    }
}

.datos {
    ul {
        li {
        line-height: 1.5rem;
        span {
            font-weight: 600;
            font-style: italic;
        }
        }
    }
}

dl {
    padding: 0 0 0 1.5rem;
    dt {
        font-weight: 600;
    }
}

.footer {
    background: #005677;
    color: #fff;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: center;
    * {
        margin: 0 0.5rem;
        vertical-align: middle;
    }
    a {
        margin: 0;
        img {
            margin-top: -4px;
        }
    }
}